{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>About us</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
<header>
<div class="main">
	<div class="logo">
		<img src="{% static 'Exam.png' %}">
	</div>
	<ul>
		<li><a href="/">Home</a></li>
		<!-- <li><a href="#">Notifications</a></li> -->
		<li class="active"><a href="#">About Us</a></li>
		<li><a href="../support">Support</a></li>
		<!-- <li><a href="#">Feedback</a></li> -->
	</ul>
</div>
<div class="title">
 <h2><p style="text-shadow: white;color: white;">This is a software built by Milton with collaboration with anson, The Application is used to store the users contents or notes which are related sytematically, for example if a user wants to write an article which contains different types of files like images,doc, pdf, audio, he can embed all those contents into a single block, which can be used for future reference,since it is deployed on the cloud, user with an account will be able to login and add his/her contents into the server and can access whenever required.

</p>
<p style="text-shadow: white;color: white;">The appplication also keeps track of the data being stored into the users account, These datas can be accessed systematically</p></div></h2>	
</div>


</header>

</body>

</html>