{% extends 'base.html' %}
{% block content %}
<br>
<br>
<br>
<div class = "container">
<div  style="text-align: center;">
<h1 style="text-align: center;">
    Confirm Delete
</h1>
<p style="text-align: center;">Are you sure you want to delete "{{item.title}}"</p>

<form method="POST">
    {% csrf_token %}
    
    <input style="align-items: center;" class="btn btn-sm btn-success"  type="submit" name="Continue">
    <a class="btn btn-sm btn-danger"  href="{% url 'notes_page' %}">Cancel</a>
</div>
</div>
</form>
{% endblock %}