{% extends 'base.html' %}
{% block content %}
<a class="btn btn-sm btn-danger" href="{% url 'documents_page' user.id %}" style="color: black;">Show All PDF Files</a>
<a class="btn btn-sm btn-danger" href="{% url 'doc_page' user.id %}">Show All Doc/Docx files</a>
<a class="btn btn-sm btn-danger" href="{% url 'video_page' user.id %}">Show all video files</a>
<a class="btn btn-sm btn-danger" href="{% url 'audio_page' user.id %}">Show all audio files</a>
<a class="btn btn-sm btn-danger" href="{% url 'image_page' user.id %}">Show all Image files</a>
<br>
<br>
<h2 style=" font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"></h2>
<body>

    {% if user.notes.all %}
    <div style="padding-left: 20px;padding-right: 10px; align-items: center;"" >
            {% for item in user.notes.all reversed %}
            
                {% if item.pdf %}
                     <embed src= "{{ item.pdf.url }}" width="500" height="375" type="application/pdf"> 
                {% endif %}
                
            
            
            {% endfor %}
        </div>
    
        {% endif %}
        <br>
        <a href="../../notes"><input type="button" value="Back" class="btn btn-primary" /></a>
</body>
{% endblock %}