{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>About us</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
<header>
<div class="main">
	<div class="logo">
		<img src="{% static 'Exam.png' %}">
	</div>
	<ul>
		<li><a href="/">Home</a></li>
		<!-- <li><a href="#">Notifications</a></li> -->
		<li ><a href="../about">About Us</a></li>
		<li class="active"><a href="#">Support</a></li>
		<!-- <li><a href="#">Feedback</a></li> -->
	</ul>
</div>
<div class="title">
 <h2><p style="text-shadow: white;color: white;">
 For any queries please feel free to contact at +91 8197091292
</p>
<p style="text-shadow: white;color: white;">You can reach us at rodriguesmilton21@gmail.com for any queries</p></div></h2>	
</div>


</header>

</body>

</html>